@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

h1, h3 {
    font-family: 'Uncial Antiqua', cursive;
}

.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: center;
}

.rightside {
    margin-top: 3rem;
}

.disclaimer {
    font-size: 10pt;
}