@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

h1, h3 {
    font-family: 'Uncial Antiqua', cursive;
}

.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #636343;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 2px 2px #131c0d;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #636343;
    margin-top: 1rem;
}


.disclaimer {
    font-size: 10pt;
}

body {
    color: #b5864c;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.button {
    background-color: #636343;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
}

.startbutton {
    background-color: #636343;
    border-radius: 5px;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: inset 0 0 0 0 #7c142c;
    margin: 0 -.25rem;
    padding: .5rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.startbutton:hover {
    box-shadow: inset 110px 0 0 0 #7c142c;
    color: #1d1d1d;
}


.button:hover {
    color: #131c0d;
    background-color: #b5864c;
}

.leftside {
    background-color: #131c0d;
    min-width: 20rem;
    filter: drop-shadow(2px 4px 8px #585858);
    padding-bottom: 2rem;
    text-align: center;
}

.rightside {
    text-align: center;
    min-width: 20rem;
}

.table {
    display:flex;
    justify-content: center;
}

.winner {
    background-color: #7c142c;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.github {
    width: 1rem;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.firstline, .secondline {
    display: flex;
    flex-direction: row;
    margin-bottom: -1.3rem;
}

.secondline {
    margin-bottom: 1rem;
}

