@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

h1, h3 {
    font-family: 'Uncial Antiqua', cursive;
}

.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: center;
}


.disclaimer {
    font-size: 10pt;
}

body {
    color: #b5864c;
    background-color: #40492b;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.button {
    background-color: #636343;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
}


.button:hover {
    color: #131c0d;
    background-color: #b5864c;
}

.leftside {
    background-color: #131c0d;
    min-width: 20rem;

    text-align: center;
}

.rightside {
    text-align: center;
    min-width: 20rem;
}

.table {
    display:flex;
    justify-content: center;
}


